.form__section {
  display: flex;
  flex-direction: column;
  height: 342px;
  width: 448px;
  margin-bottom: 20px;
}
.form__title,
.form__label-comment {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}
.form__label {
  text-align: left;
  width: 448px;
}
.form__section input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  outline: none;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
  }
}

.form__input-name-box,
.form__input-tel-box,
.form__input-mail-box {
  position: relative;
}

.form__icon-name,
.form__icon-tel,
.form__icon-mail {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  fill: #212121;
  .form__input:hover ~ &,
  .form__input:focus ~ & {
    fill: var(--accent-text-color);
  }
}

.form__section textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline: none;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
  }
}
.form__section textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__section {
  display: block;
  width: 448px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.checkbox__label {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
.checkbox__input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox__icon-changer {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  background-size: contain;
  .checkbox__input:hover + &,
  .checkbox__input:focus ~ & {
    border: transparent;
    background-color: var(--accent-text-color);
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
  }
}
.checkbox__input:checked + .checkbox__icon-changer {
  border: transparent;
  background-color: var(--accent-text-color);
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}
.checkbox__link {
  color: var(--accent-text-color);
  &:hover,
  &:focus {
    color: #188ce8;
  }
}
.form__btn-submit {
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  padding: 10px 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
}
