footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container-flex {
  display: flex;
}
.footer__contacts {
  width: 231px;
  margin-right: 70px;
}

/* connection */

/* subscription box */
