.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__link {
  width: 370px;
  height: 404px;
  display: inline-block;
  text-decoration: none;
}
.portfolio__overlay {
  .portfolio__link:hover &,
  .portfolio__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
.portfolio__thumb {
  display: flex;
  width: 370px;
  height: 294;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.portfolio__img {
  display: block;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
}

.portfolio__thumb-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1.56;
  line-height: 28px;
  color: var(--primary-bg-color);
  padding: 63px 24px;
}
.portfolio__border {
  background: #ffffff;
  width: 370px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio__projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  padding-bottom: 4px;
}
.portfolio__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--description-text-color);
}
